/* $: #ff385c; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0,.1); }
body::-webkit-scrollbar-thumb {
    background: #ff385c;
    transition: all .5s; 
    border: solid .3px #f81243;
}
body::-webkit-scrollbar-thumb {
    transition: all 1s;
}
d
body{
    background-color: #e7e7e7;
}
/* HEADER STYLES*/

.logo{
    width: 4em;
    margin: 1.2em;
}

input{
    width: 50em;
    height: 3.5em;
    margin: 1.7em;
    color: black;
    padding: 1em;
    font-size: 1em;
    border-radius: .8em ;
    border: none;
    transition: 1s ease;
    box-shadow:  0px 2px 4px black;
}

.button{

    cursor: pointer;
    color: white;
    background: #ff385c ;
    transition: .4s;
    border: white solid;
    box-shadow:  0px 2px 4px black;
    height: 4em;
    padding: 1.3em;
    margin: 1.8em 0.3em;
    border-radius: 50%;
    font-size: .9em;
    text-align: center;
}

.button:hover{
    color: #ff385c;
    background-color: white;
    transition: .4s;
}

.maindiv{
background-image: url(../images/wave.svg);
text-align: right;
transition: 1s ease;
}
.title{
    padding: 1em 0 1.5em;
    font-size: 5.5em;
    text-shadow: 0px 2px 4px black;
    color: white;
    text-align: center;
    transition: 1s;
}
.nav{
    display:flex ;
    justify-content: center;
}

/* MAIN STYLES */

#container{
    display: grid;
    grid-template-areas: 
    "1fr 1fr 1fr"
    "1fr 1fr 1fr"
    "1fr 1fr 1fr"
    "1fr 1fr 1fr"
    "1fr 1fr 1fr";
    padding: 4em 0;
    transition: 1s ease;
}
.alojamiento{
    text-align: center;
    box-shadow: 0px 2px 3px black ;
    border-radius: 5px;
    margin: 1em 2em;
    overflow: hidden;
    transition: .1s;
    background-color: snow;
    color: #ff385c;
    transition: 1s ease;
}

.alojamiento:hover{
    transition: .1s;
    transform: scale(1.05);
}

.hotel__h1{
    padding: .5em;
    font-size: 2em;
    text-shadow: 0px 1px 1px black;
    transition: 1s ease;
}

.hotel__ubi,.hotel__precio,.btn{
    text-shadow: 0px 0px 1px #ff305c;
    padding: .8em;
}

.btn{
    padding: 1em;
    width: 100%;
    background-color: #ff385c;
    color: #fff;
    border: none;
    transition: .2s;
}

.btn:hover{
    color: #ff385c;
    background-color: #fff;
    outline: 1px solid #ff305c;
    transition: .1s;
    cursor: pointer;
}
.img__container{
    width: 100%;
    overflow: hidden;
}
.hotel__img{
    width: 100%;
    height: 17em;
}

footer{
    text-align: center;
    font-size: 1.3em;
    outline: solid 3px #ff305c;
    padding: 10px;
    color: #ff385c;
}

.filtro{
    opacity: 0;
    visibility: hidden;
    order: 1;
}


/* 
DARK MODE - DARK MODE - DARK MODE -DARK MODE
*/

.darkModeContainer{
    background: rgb(20, 20, 20);
}

.darkMain{
    background-image: url(../images/wave_1.svg);
    transition: 1s ease;
}
.darkModeAlojamiento{
    border: 1px solid;
    background-color: rgb(0, 0, 0);
    transition: 1s ease;
}

.darkInput{
    background-color: #000;
    color: white;
    transition: 1s ease;
    border: solid black;
    box-shadow: 0px 1px 3px #ff385c, 0px -1px 3px #ff385c;
    
}

.darkFont{
    color: white;
    transition: 1s ease;
}

.darkfooter{
    background-color: #000;
    color: white;
    outline: solid 2px white;
    padding: 10px;
}

#darkBtn{
    height: 40px;
    border-radius: 17px;
    border: none;
    background-color: #000;
    padding: 7px;
    margin: 20px 0px ;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

#lightBtn{
    height: 40px;
    border-radius: 17px;
    border: none;
    padding: 7px;
    margin: 20px 4px;
    color: black;
    cursor: pointer;
    transition: .1s;
}

#lightBtn:hover, #darkBtn:hover{
    transform: scale(1.04);
    transition: .2s;
}

.toastify{
    border-radius: 10px;
}

@media screen and (max-width: 1025px) {
    #container{
        grid-template-areas: "1fr 1fr";
    }    

    .alojamiento{
        border-radius: 60px 0px;
        margin: 1em;
    }

    .nav{
        padding: 3em;
    }

    .title{
        font-size: 4.5em
    }
}

@media screen and (max-width: 769px) {

    #container{
        grid-template-areas: "1fr";
    }

    .title{
        font-size: 2.3em;
    }

    .alojamiento{
        margin: 2em;
        border-radius: 5px;
    }

    .nav{
        padding: 1em;
    }

    .logo{
    display: none;
    }

    input{
        font-size: auto;
    }

    .button{
        margin: 2.3em 2em 2.3em 0em;
        height: auto;
        padding: 0.8em;
    }
}


/* SWEET ALERT */
.swal2-container.swal2-center>.swal2-popup {
    background: #ff385C;
    color: white;
    border: solid;
}
.swal2-styled.swal2-confirm{
background-color: #ca0f38;
font-size: 1.3em;
/* border: solid 2px; */
border-radius: 15px;
}

/*  */