/* $: #ff385c; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: #ff385c;
}

body{
    background-color: rgb(231, 231, 231);
}
/* HEADER STYLES*/

.logo{
    width: 4em;
    margin: 1.2em;
}

input{
    width: 50em;
    height: 3.5em;
    margin: 1.7em;
    color: black;
    padding: 1em;
    font-size: 1em;
}

.button{
    margin: 2.3em 0;
    height: 3.5em;
    width: 8em;
    border-radius: .6em;
    cursor: pointer;
    color: white;
    background: #ff385c ;
    transition: .3s;
    border: white solid;
}

.button:hover{
    color: #ff385c;
    border: black solid ;
    background-color: white;
    transition: .3s;
}

.maindiv{
background-image: url(../images/header.jpg);
background-color: rgba(0, 0, 0, 0.8);
background-blend-mode: soft-light;
background-size: cover;    
text-align: center;
}
.title{
    padding: 3em;
    font-size: 2.8em;
    text-shadow: 0px 2px 2px black;
}
.nav{
    display:flex ;
    justify-content: center;
}

/* MAIN STYLES */

#container{
    display: grid;
    grid-template-areas: 
    "1fr 1fr 1fr"
    "1fr 1fr 1fr"
    "1fr 1fr 1fr"
    "1fr 1fr 1fr"
    "1fr 1fr 1fr";
    margin: 4em auto;
}
.alojamiento{
    text-align: center;
    box-shadow: 0px 2px 3px black ;
    border-radius: 5px;
    margin: 3em;
    overflow: hidden;
    transition: .1s;
    background-color: snow;
}

.alojamiento:hover{
    transition: .1s;
    transform: scale(1.05);
}

.hotel__h1{
    padding: .5em;
    font-size: 2em;
    text-shadow: 0px 1px 1px black;
}

.hotel__ubi,.hotel__precio,.btn{
    text-shadow: 0px 0px 1px #ff305c;
    padding: .8em;
}

.btn{
    padding: 1em;
    width: 100%;
    background-color: #ff385c;
    color: #fff;
    border: none;
    transition: .2s;
}

.btn:hover{
    color: #ff385c;
    background-color: #fff;
    outline: 1px solid #ff305c;
    transition: .1s;
    cursor: pointer;
}
.img__container{
    width: 100%;
    overflow: hidden;
}
.hotel__img{
    width: 100%;
    height: 17em;
}

footer{
    text-align: center;
    font-size: 1.3em;
}


.filtro{
    opacity: 0;
    visibility: hidden;
    order: 1;
}